@keyframes shine {
	0% {
		transform: translateX(-150%) skewX(-15deg);
	}
	50%,
	100% {
		transform: translateX(150%) skewX(-15deg);
	}
}
@keyframes borderFlow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
